.grid{
    display: grid;
    /* grid-template-columns: 100px 200px; */
    /* grid-template-columns: 1fr 2fr 2fr; */

    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 200px 100px; */
    grid-template-rows: 2fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    height: 300px;
    border: 2px solid black;
}

.item{
    border: 1px solid rebeccapurple;
    text-align: center;
    vertical-align: middle;
}

header{
    background-color: lightblue;
    grid-area: header;
    text-align: center;
}
aside{
    background-color: lightpink;
    grid-area: sidebar;
}
main{
    background-color: lightgreen;
    grid-area: main;
}
footer{
    background-color: black;
    color: white;
    grid-area: footer;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-areas: "header header"
                         "sidebar main"
                         "footer footer";
}